
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.perfume-card {
  background-color: #fff;
  border: 1px solid #ececec;
  border-radius: 1.5rem;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  animation: fadeInUp 0.6s ease both;
}


.perfume-card:hover {
  box-shadow: 0 10px 24px rgba(77, 76, 73, 0.253);
  transform: translateY(-3px);
}

/* Imagen */
.perfume-image-wrapper {
  height: 380px;
  overflow: hidden;
  display: block;
  border-bottom: 1px solid #f0f0f0;
}

.perfume-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

/* Contenido */
.perfume-content {
  padding: 1rem 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: #333;
}

.perfume-title {
  font-family: 'Georgia', serif;
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0;
  color: #111;
}

.perfume-description {
  font-size: 0.95rem;
  color: #666;
  height: 45px;
  overflow: hidden;
  line-height: 1.4;
}

.perfume-pricing {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
  font-size: 1rem;
}

.precio-original {
  text-decoration: line-through;
  color: #b33;
  font-weight: 500;
}

.precio-actual {
  color: #28a745;
  font-weight: 600;
}

/* Botón de carrito */
.btn-perfume {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  color: #d4af37;
  border: 1.5px solid #d4af37;
  border-radius: 20px;
  padding: 0.5rem 1.2rem;
  font-weight: 500;
  transition: all 0.3s ease;
}

.btn-perfume:hover {
  background-color: #d4af37;
  color: #fff;
}


/* Etiqueta descuento*/
.discount-ribbon {
  position: absolute;
  top: 0;
  left: 0;
  width: 75px;
  height: 75px;
  overflow: hidden;
  z-index: 20;
  pointer-events: none;
}

.discount-ribbon::before {
  content: attr(data-label);
  position: absolute;
  width: 100px;
  background: linear-gradient(to right, #ffd700, #b8860b);
  color: #000;
  font-weight: bold;
  font-size: 0.75rem;
  text-align: center;
  padding: 4px 0;
  transform: rotate(-45deg);
  top: 12px;
  left: -25px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

/* icon favoreito */
.favorite-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 10;
}

.favorite-btn i {
  font-size: 1.4rem;
  color: #e63946;
  transition: color 0.3s ease;
}

/* Cambiar el icono a bi-heart-fill al hacer hover */
.favorite-btn:hover i::before {
  font-family: "bootstrap-icons";
  content: "\f415"; /* Código correcto para bi-heart-fill */
  color: #e63946; /* rojo */
}


