.footer-wave svg {
  display: block;
  width: 100%;
  height: 80px;
  margin-bottom: -5px;
}

.footer-custom {
  background: linear-gradient(to bottom, #000000, #1a1a1a);
  font-family: 'Georgia', serif;
  padding: 60px 0 40px;
  position: relative;
  overflow: hidden;
  text-align: center;
}


.footer-row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 60px;
  max-width: 1100px;
}

.footer-logo-circle {
  width: 140px;
  height: 140px;
  background: #000;
  border: 3px solid #D4AF37;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 15px rgba(245, 197, 24, 0.4);
  flex-shrink: 0;
}

.footer-logo-circle img {
  max-width: 75%;
  max-height: 75%;
}

.footer-section {
  min-width: 180px;
  max-width: 240px;
  text-align: left;
}

.footer-section h6 {
  color: #D4AF37;
}

.footer-section a:hover {
  color: #D4AF37;
  transition: 0.3s ease;
}

.footer-section i {
  color: #ffffff;
  transition: color 0.3s ease, transform 0.3s ease;
}

/* Aplica el efecto al pasar el mouse por el padre */
.footer-section p:hover i,
.footer-section a:hover i {
  color: #D4AF37;
  transform: scale(1.2);
}




.numeros {
  font-family: "Trebuchet MS", Verdana, monospace;
  letter-spacing: 0.5px;
}
