<div class="promo-container">

  <h2 class="text-center my-4" style="font-family:'Merriweather', serif; font-weight: 600;">PROMOCIONES</h2>

  <!-- Banner principal horizontal grande -->
  <div class="banner-horizontal-grande mb-4">
    <img src="assets/promocion2.png" alt="Promoción principal" />
  </div>

  <div class="promo-grid">
    <!-- Columna de tres banners horizontales pequeños uno debajo del otro -->
    <div class="promo-columna-izquierda">
      <div class="banner-horizontal-pequeno mb-3">
        <img src="assets/promocion1.png" alt="Promo 2" />
      </div>
      <div class="banner-horizontal-pequeno mb-3">
        <img src="assets/promocion3.png" alt="Promo 3" />
      </div>
      <div class="banner-horizontal-pequeno">
        <img src="assets/promocion5.png" alt="Promo 4" />
      </div>
    </div>

    <!-- Banner vertical al costado derecho -->
    <div class="banner-vertical">
      <img src="assets/promocion4.jpg" alt="Promo Vertical" />
    </div>
  </div>
  

</div>
